@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
  --background: #ffffff;
  --foreground: #121212;
	--green: #1ed760;
	--gray: #878787;
	--gray-light: #BDBDBD;
	--gray-light-opacity: #D9D9D9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
	--color-green: var(--green);
	--color-gray: var(--gray);
	--color-gray-light: var(--gray-light);
	--color-gray-light-opacity: var(--gray-light-opacity);
  --font-montserrat: var(--font-montserrat);
  --font-archivo: var(--font-archivo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }
}

html::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
	width: 6px;
}

html::-webkit-scrollbar-track, .scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 8px;
}

html::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--gray-light);
	border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover, .scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: var(--gray-light-opacity);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
